@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply min-h-screen text-white antialiased;
	background-color: #0e1822;
	font-family: "Inter", system-ui, -apple-system, "Segoe UI", sans-serif;
}

a {
	@apply text-inherit no-underline;
}
